.card__title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-width: 296px;
  max-height: 52px;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  font: normal 1.3em/1 "WF", "PT Sans", sans-serif;
  color: #323232;
  text-align: center;
}

.card__title_top {
  margin-bottom: 0;
}

@media screen and (max-width: 1023px) {
  .card__title {
    max-width: 213px;
    max-height: 44px;
    line-height: 1.22;
  }
}

@media screen and (max-width: 767px) {
  .card__title {
    max-width: 252px;
    margin-bottom: 0;
  }
}
