.intro__cards {
  box-sizing: border-box;
  display: grid;
  margin: 0;
  padding: 0;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 1023px) {
  .intro__cards {
    gap: 24px 12px;
    grid-template-columns: repeat(2, 362px);
  }
}

@media screen and (max-width: 767px) {
  .intro__cards {
    grid-template-columns: minmax(30%, 334px);
    gap: 10px;
  }
}
