.banner {
  display: grid;
  grid-template-columns: 1fr 2.06fr;
  grid-template-rows: auto 1fr auto;
  grid-column-gap: 136px;
  width: 100%;
  max-width: calc(1440px - 32px * 2);
  margin: 0 auto;
  padding: 56px 116px 64px;
  box-sizing: border-box;
  background-color: #F7F4F0;
}

@media screen and (max-width: 1400px) {
  .banner {
    grid-template-columns: 174px 1fr;
    grid-column-gap: 72px;
    padding: 20px 17px;
  }
}

@media screen and (max-width: 767px) {
  .banner {
    grid-template-columns: minmax(30%, 336px);
    grid-row-gap: 16px;
    justify-content: center;
    justify-items: center;
    padding: 20px 12px;
  }
}
