.intro__card-subtitle {
  font: 1em/1.3em "PT Sans", sans-serif;
  margin: 12px auto 36px;
  max-width: calc(100% - 64px);
  width: 100%;
  color: #323232;
  min-height: 75px;
}

@media screen and (max-width: 1023px) {
  .intro__card-subtitle {
    max-width: 306px;
    width: 100%;
    min-height: 45px;
    margin: 10px auto 28px;
    font-size: 1em;
  }
}

@media screen and (max-width: 767px) {
  .intro__card-subtitle {
    max-width: calc(100% - 24px);
    width: 100%;
    min-height: 35px;
    margin: 10px auto 12px;
    font-size: 1em;
    line-height: 1.29em;
  }
}
