.footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  font: 16px/1.18 "PT sans", sans-serif;
}

@media screen and (max-width: 1023px) {
  .footer__links {
    font: 14px/1.21 "PT sans", sans-serif;
  }
}

@media screen and (max-width: 767px) {
  .footer__links {
    min-height: 56px;
    flex-wrap: wrap;
    max-width: 260px;
    justify-content: space-around;
    align-content: space-between;
  }
}
