.special-projects__main-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

@media screen and (max-width: 767px) {
  .special-projects__main-text {
    border: solid 1px #A5CDAB;
    border-top: none;
  }
}
