.footer__legal-info {
  margin-right: 54px;
}

@media screen and (max-width: 1023px) {
  .footer__legal-info {
    height: fit-content;
    margin-top: 36px;
  }
}

@media screen and (max-width: 767px) {
  .footer__legal-info {
    order: 3;
    align-self: flex-start;
    margin-top: 29px;
    margin-bottom: 16px;
  }
}
