.section-title_materials-margin {
  margin-bottom: 40px;
}

@media screen and (max-width: 1023px) {
  .section-title_materials-margin {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 767px) {
  .section-title_materials-margin {
    margin-right: 41px;
  }
}
