.special-projects__subtitle {
    font: 1.3em/1 'WF', sans-serif;
    margin: 28px 0 0;
  }

@media screen and (max-width: 1023px) {
  .special-projects__subtitle {
    font: 1.28em/1.22 'WF', sans-serif;
    margin: 12px 0 0;
  }
}

