.intro__container {
  max-width: 1440px;
  margin: 0 auto;
  width: calc(100% - 64px);
}

@media screen and (max-width: 1023px) {
  .intro__container {
    margin: 0 auto;
    max-width: 736px;
    width: calc(100% - 24px);
  }
}

@media screen and (max-width: 767px) {
  .intro__container {
    margin: 0 auto;
    width: calc(100% - 24px);
    max-width: 336px;
  }
}
