.button_play-video {
  background-image: url(../../../images/play_video.svg);
  width: 112px;
  height: 112px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 129px;
  left: 283px;
  background-repeat: no-repeat;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .button_play-video {
    background-image: url(../../../images/play_video_360px.svg);
    width: 60px;
    height: 55px;
    top: 73px;
    left: 120px;
  }
}

.button_play-video:hover {
  opacity: 0.5;
}
