.main {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.heading {
  font: normal 46px "WF", "PT Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, minmax(280px, 328px));
  gap: 62px 80px;
  margin: 36px 0 0;
  padding: 0;
  justify-content: center;
  position: relative;
  z-index: 1;
  transition: transform 1s ease-in;
}

@media screen and (max-width: 1220px) {
  .list {
    gap: 62px 25px;
  }
}

@media screen and (max-width: 1023px) {
  .list {
    grid-template-columns: repeat(3, 175px);
    grid-template-rows: repeat(3, 277px);
    gap: 36px;
    margin-top: 18px;
  }
}

@media screen and (max-width: 646px) {
  .list {
    grid-template-columns: repeat(2, 175px);
    grid-template-rows: repeat(2, 277px);
    gap: 36px;
    margin-top: 18px;
  }
}

@media screen and (max-width: 425px) {
  .list {
    grid-template-rows: 1fr;
    min-height: 352px;
  }
}

