.intro__card-title {
  font: 1.8em/1em "WF", sans-serif;
  margin: 0 auto 0;
  max-width: calc(100% - 64px);
  width: 100%;
  padding: 32px 0 0 0;
  color: #323232;
  font-weight: 400;
  overflow-wrap: anywhere;
}

@media screen and (max-width: 1023px) {
  .intro__card-title {
    max-width: 306px;
    width: 100%;
    padding-top: 28px;
    line-height: 1.3em;
  }
}

@media screen and (max-width: 767px) {
  .intro__card-title {
    max-width: calc(100% - 24px);
    width: 100%;
    margin: 11px auto 0;
    padding: 0;
    font-size: 1.86em;
    line-height: 1.23em;
  }
}
