.container {
  max-width: 1144px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 328px);
  gap: 66px 80px;
  padding: 0;
  align-items: baseline;
}

@media screen and (max-width: 1023px) {
  .container {
    max-width: 700px;
    grid-template-columns: repeat(3, 180px);
    gap: 36px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 300px;
    display: flex;
    flex-direction: column;
  }
}

.title {
  font-family: 'WF';
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 120%;
  color: #323232;
}

@media screen and (max-width: 1023px) {
  .title {
    font-size: 30px;
  }
}

@media screen and (max-width: 767px) {
  .title {
    font-size: 32px;
  }
}

.button {
  margin: 32px auto 52px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
