.popup-inf {
  position: fixed;
  top: 825px;
  right: 32px;
  background-color: #f7f4f0;
  border-radius: 8px;
  visibility: hidden;
}

@media screen and (max-width: 767px) {
  .popup-inf {
    top: 400px;
    right: 10px;
  }
}
