.slider__container {
  position: relative;
  margin-left: 20px;
}


@media screen and (max-width: 1023px) {
  .slider__container {
    margin-left: 12px;
  }
}

@media screen and (max-width: 767px) {
  .slider__container {
    margin: 0;
  }
}
