.slider__indicators_margin-bottom {
  margin-bottom: 22px;
  margin-left: 20px;
}

.journal-projito .slider__indicators_margin-bottom {
  margin-bottom: 9px;
}

@media screen and (max-width: 1023px) {
  .slider__indicators_margin-bottom {
    margin-bottom: 25px;
    margin-left: 12px;
  }
  .journal-projito .slider__indicators_margin-bottom {
    margin-bottom: 11px;
  }
}
