.page-numbers__arrow-left {
  padding: 0;
  border: 0;
  background: none;
  background-image: url(../../../images/Arrow_left.svg);
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  margin-right: 200px;
  cursor: pointer;
  align-self: flex-end;
}

.page-numbers__arrow-left:disabled {
  opacity: .5;
  cursor: unset;
}

@media screen and (max-width: 1023px) {
  .page-numbers__arrow-left {
    margin-right: 0;
  }
}
