.contents {
  font-family: "WF", "PT Sans", sans-serif;
  width: 100vw;
  height: 48px;
  position: fixed;
  top: 0;
  font-size: 14px;
  z-index: 7;
}

.container {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  outline: 1px solid #E7E4DE;
  padding: 12px 16px 14px;
}

.heading {
  font-size: 18px;
  line-height: 22.28px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.arrow__button {
  margin-right: auto;
  outline: none;
  border: none;
  background-color: transparent;
}

.menu__button {
  margin-left: auto;
  outline: none;
  border: none;
  background-color: transparent;
}
