@media screen and (max-width: 767px) {

  .button_size-slider {
    background: transparent;
    width: 21px;
    height: 12px;
  }
  .button_size-slider:not([disabled]):hover {
    opacity: .5;
    background: transparent;
  }
  .button_size-slider:active {
    background: transparent;
  }

}

