li {
  list-style: none;
}

.newsItem {
  margin: 0;
  padding: 0;
  width: 328px;
  height: 373px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 89px 212px;
  grid-template-rows: 223px 128px;
  grid-template-areas:
  "titleContainer image"
  "text text";
  gap: 20px;
  font: normal 400 14px/18px "PT Sans";
  color: #323232;
}

@media screen and (max-width: 1023px){
  .newsItem {
    width: 180px;
    height: 236px;
    grid-template-columns: 66px 104px;
    grid-template-rows: 120px 108px;
    gap: 8px;
  }
}

@media screen and (max-width: 767px) {
  .newsItem {
    width: 336px;
    height: 246px;
    grid-template-columns: 1fr;
    grid-template-rows: 160px 54px 16px;
    grid-template-areas:
    "image"
    "text"
    "titleContainer";
    gap: 8px;
    font: normal 400 14px/18px "PT Sans";
    color: #323232;
  }
}

.image {
  grid-area: image;
  width: 212px;
  height: 223px;
}

@media screen and (max-width: 1023px){
  .image {
    width: 102px;
    height: 120px;
  }
}
@media screen and (max-width: 767px) {
  .image {
    width: 336px;
    height: 160px;
  }
}

.titleContainer {
  grid-area: titleContainer;
  width: 89px;
  height: 44px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 8px;
}

@media screen and (max-width: 1023px){
  .titleContainer {
    width: 66px;
    height: 36px;
    gap: 4px;
  }
}

@media screen and (max-width: 767px) {
  .titleContainer {
    grid-area: titleContainer;
    width: 336px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.date {
  display: block;
  text-align: start;
}

@media screen and (max-width: 1023px){
  .date {
    font-size: 12px;
    line-height: 16px;
  }
}

.title {
  margin: 0;
  font-size: 14px;
  text-align: start;
  font-weight: 400;
}

@media screen and (max-width: 1023px){
  .title {
    font-style: italic;
    font-size: 12px;
    line-height: 16px;
  }
}

.text {
  grid-area: text;
  margin: 0;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: rgba(50, 50, 50, 0.6);
  text-align: start;
}

@media screen and (max-width: 1023px){
  .text {
    font-size: 14px;
    line-height: 18px;
    color: #323232;
  }
}

/*
@media screen and (max-width: 1023px){}
@media screen and (max-width: 767px) {}
*/
