.footer__social-networks {
  margin-left: 190px;
}

@media screen and (max-width: 1023px) {
  .footer__social-networks {
    margin-left: 360px;
    height: 28px;
  }
}

@media screen and (max-width: 767px) {
  .footer__social-networks {
    order: 1;
    margin-left: 0;
    margin-bottom: 24px;
  }
}
