.popup-inf__title {
  font-size: 1.7em;
  width: 320px;
  margin: 0;
  padding: 12px 0 0 12px;
}

@media screen and (max-width: 767px) {
  .popup-inf__title {
    font-size: 1.3em;
    width: 150px;
  }
}
