.item {
  width: 328px;
  display: grid;
  grid-template-columns: 116px 212px;
  grid-template-areas:
    "date image"
    "tag image"
    ". image"
    "title title";
  cursor: pointer;
}

.item:hover {
  opacity: .8;
}

@media screen and (max-width: 1023px) {
  .item {
    width: 180px;
    grid-template-columns: 78px 102px;
  }
}

@media screen and (max-width: 767px) {
  .item {
    grid-template-areas:
    "image image"
    "title title"
    "date tag";
    width: 100%;
    grid-template-columns: auto;
    gap: 8px 0;
  }
}
