.news-main__all {
  min-height: 560px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #F5F5F5;
  max-width: 477px;
  width: calc(100% - 64px);
  padding: 16px 32px 40px;
  box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
  .news-main__all {
    max-width: 253px;
    min-height: 380px;
    margin: 0;
    padding: 16px 20px 41px 16px;
  }
}

@media screen and (max-width: 767px) {
  .news-main__all {
    min-height: 60px;
    max-width: 268px;
    color: #323232;
    padding: 0 0 16px;
  }
  .journal-projito .news-main__all {
    padding-bottom: 24px;
  }
}
