.footer__links-section {
  border-top: 1px solid rgba(50, 50, 50, 0.3);
  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
  min-height: 87px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
  .footer__links-section {
    border-top-color: rgba(165, 205, 171, 0.4);
    border-bottom-color: rgba(165, 205, 171, 0.4);
    text-transform: uppercase;
    min-height: 68px;
  }
}

@media screen and (max-width: 767px) {
  .footer__links-section {
    min-height: 106px;
  }
}
