@import url(../blocks/typical-page/typical-page.css);
@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/pages-nav/pages-nav.css);
@import url(../blocks/pages-nav/__link/pages-nav__link.css);
@import url(../blocks/button/_contens/button_contens.css);
@import url(../blocks/button/_play-video/button_play-video.css);
@import url(../blocks/typical/typical__subtitle.css);
@import url(../blocks/typical/__subtitle-part/typical__subtitle-part.css);
@import url(../blocks/popup-contens/popup-contens.css);
@import url(../blocks/popup-contens/__link-container/popup-contens__link-container.css);
@import url(../blocks/popup-contens/__link/popup-content__link.css);
@import url(../blocks/popup-contens/__close-button/popup-contens__close-button.css);
@import url(../blocks/popup-inf/popup-inf.css);
@import url(../blocks/popup-inf/__close-button/popup-inf__close-button.css);
@import url(../blocks/popup-inf/__subtitle/popup-inf__subtitle.css);
@import url(../blocks/popup-inf/__title/popup-inf__title.css);
@import url(../blocks/popup-inf/_opened/popup-inf_opened.css);
@import url(../blocks/video/__container/video__container.css);
@import url(../blocks/video/video.css);
@import url(../blocks/video/__title/video__title.css);
@import url(../blocks/player/player.css);
@import url(../blocks/player/__button-mute/player__button-mute.css);
@import url(../blocks/player/__button-play/player__button-play.css);
@import url(../blocks/player/__button-reverse-anticlockvise/player__button-reverse-enticlockwise.css);
@import url(../blocks/player/__button-reverse-clockwise/player__button-reverse-clockwise.css);
@import url(../blocks/player/__soundtrack/player__soundtrack.css);
@import url(../blocks/player/__time/player__time.css);
@import url(../blocks/player/__container/player__container.css);
@import url(../blocks/player/__title/player__title.css);
@import url(../blocks/player/__button-stop/player__button-stop.css);

.article {
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.article h1 {
  font: 2.3em/1.2em "WF", sans-serif;
  max-width: 678px;
  color: #323232;
  padding: 28px 0 16px;
  border-bottom: 1px solid #3a543e;
  font-weight: 400;
  max-width: 677px;
  text-align: center;
  margin: 0 auto 0;
}

.article h2 {
  font: 1.3em/1em "WF", sans-serif;
  text-align: center;
  font-weight: 400;
  padding: 0 auto 0;
  margin: 32px auto 0;
  max-width: 650px;
}

.article p {
  font: 0.9em/1.67em "PT Sans", sans-serif;
  padding: 32px 0 0;
  max-width: 676px;
  width: 100%;
  margin: 0 auto 0;
  font-weight: 400;
  text-align: left;
}

.article p:nth-child(3) {
  padding: 26px 0 0;
}

.article p:last-child {
  padding: 26px 0 72px;
}

.article blockquote {
  font: 1.3em/1em "WF", sans-serif;
  font-weight: 400;
  padding: 0 0 0 16px;
  border-left: 2px #3a543e solid;
  margin: 32px auto 0;
  max-width: 676px;
  position: relative;
}

.image {
  width: 910px;
  margin: 32px auto 0;
  padding: 0;
  display: inline-block;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
}

.image img {
  max-height: 520px;
  width: 100%;
  display: flex;
  object-fit: contain;
  background: #f7f4f0;
  box-sizing: border-box;
  padding: 23px 0 36px;
}

.image figcaption {
  font: 0.7em/1.3em "PT Sans", sans-serif;
  text-align: start;
  align-self: center;
  width: 100%;
  margin: 0 0 0 230px;
  max-width: 550px;
  padding: 16px 0 16px;
  border-bottom: 1px solid rgba(12, 6, 38, 0.7);
  background-color: white;
}
@media screen and (max-width: 1023px) {
  .image {
    width: 700px;
  }
}

@media screen and (max-width: 767px) {
  .image {
    max-width: 340px;
    width: 100%;
  }
  .image figcaption {
    max-width: 340px;
    width: 100%;
    margin: 0;
  }
  .article h1 {
    max-width: 300px;
    width: 100%;
    font-size: 2em;
  }
  .article p {
    max-width: 300px;
    width: 100%;
  }
  .article h2 {
    max-width: 300px;
    width: 100%;
  }
  .article blockquote {
    max-width: 300px;
    width: 100%;
  }
}
