.footer__logo-section {
  display: flex;
  justify-content: space-between;
  margin: 32px 0;
  flex-wrap: wrap;
}

@media screen and (max-width: 1023px) {
  .footer__logo-section {
    margin: 28px 0 0;
  }
}

@media screen and (max-width: 767px) {
  .footer__logo-section {
    flex-direction: column;
    margin-top: 24px;
    align-items: center;
  }
}
