.footer__social-icon {
  padding: 0;
  margin: 0;
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

@media screen and (max-width: 1023px) {
  .footer__social-icon {
    width: 28px;
    height: 28px;
    margin: 0;
  }
}
