.popup__subtitle {
  font: 0.7em/1.3em "PT Sans", sans-serif;
  padding: 12px 0 16px;
  margin: auto;
  width: 189px;
  color: #323232;
}

@media screen and (max-width: 1023px) {
  .popup__subtitle {
    width: 150px;
    padding: 12px 0 12px;
    font-size: 0.9em;
  }
}

@media screen and (max-width: 767px) {
  .popup__subtitle {
    width: 130px;
    padding: 5px 0 12px;
    font-size: 0.9em;
    margin: auto;
    line-height: 1.2em;
  }
}
