.slider__container-button {
  position: absolute;
  top: 26px;
  right: 32px;
}

@media screen and (max-width: 1023px) {
  .slider__container-button {
    top: 19px;
    right: 16px;
  }
}

@media screen and (max-width: 767px) {
  .slider__container-button {
    display: none;
  }
}
