:root {
  --black-100: #323232;
  --color-text-white: #F5F5F5;
  --color-text-gray: rgba(12, 6, 38, 0.7);
  --color-text-blue: #3B49DF;
  --bg-red: #E96A41;
  --bg-orange-light: #E7E4DE;
  --bg-orange-lightest: #F7F4F0;
  --bg-green: #3A543E;
  --bg-green-light: #A5CDAB;
  --bg-gray: #F7F4F0;
  --bg-black-30: rgba(50, 50, 50, 0.3);
  --bg-black-50: rgba(50, 50, 50, 0.5);
  --bg-white: #FFF;
  --logo-yellow: #FBC90B;
  --logo-gray: #9E9E9E;
  --button-pressed: #7A9F80;
  --button-hover: #97BA9C;
  --button-default: #A5CDAB;
  --button-disabled: rgba(165, 205, 171, 0.3);
  --font-family-pt-sans: 'PT Sans', Arial, sans-serif;
  --font-family-wf: 'WF', Arial, sans-serif;
  --font-family-wf-pt-sans: 'WF', 'PT Sans', Arial, sans-serif;
}
