.special-projects__image {
    max-width: 212px;
    height: 352px;
    object-fit: cover;
    margin-right: 32px;
}

@media screen and (max-width: 1023px) {
    .special-projects__image {
        max-width: 359px;
        height: 182px;
        margin: 0;
    }
}
@media screen and (max-width: 767px) {
    .special-projects__image {
        height: 200px;
    }
}
