.popup-contens__close-button {
  position: absolute;
  top: 86px;
  right: 35px;
  background-image: url(../../../images/popup-contest__close-button.svg);
  background-color: transparent;
  border: none;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.popup-contens__close-button:hover {
  opacity: 50%;
}
