.intro {
  font: 20px "WF", "PT Sans", sans-serif;
  margin: 0 auto;
  margin: 0;
  padding: 0;
  background-color: #f7f4f0;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

@media screen and (max-width: 1023px) {
  .intro {
    font-size: 14px;
  }
}

.intro__container {
  max-width: 1440px;
  margin: 0 auto;
  width: calc(100% - 64px);
}

@media screen and (max-width: 1023px) {
  .intro__container {
    margin: 0 auto;
    max-width: 736px;
    width: calc(100% - 24px);
  }
}

@media screen and (max-width: 767px) {
  .intro__container {
    margin: 0 auto;
    width: calc(100% - 24px);
    max-width: 336px;
  }
}

.intro__title {
  font: 2.3em/1.2em "WF", sans-serif;
  font-weight: 400;
  max-width: 1163px;
  width: 100%;
  color: #323232;
  padding: 70px 0 0 0;
  word-wrap: normal;
  margin: 0;
  overflow-wrap: anywhere;
  text-align: left;
}

@media screen and (max-width: 1023px) {
  .intro__title {
    max-width: 676px;
    width: 100%;
    padding-top: 40px;
    font-size: 2.14em;
    line-height: 1.23em;
  }
}

@media screen and (max-width: 767px) {
  .intro__title {
    max-width: 336px;
    width: 100%;
    padding: 20px 0 0 0;
    font-size: 1.86em;
    line-height: 1em;
  }
}

.intro__cardContainer {
  max-width: 1144px;
  margin: auto;
  box-sizing: border-box;
  margin-top: 114px;
  margin-bottom: 164px;
}

@media screen and (max-width: 1023px) {
  .intro__cardContainer {
    margin-top: 28px;
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 767px) {
  .intro__cardContainer {
    margin-top: 93px;
    margin-bottom: 96px;
  }
}

.intro__cards {
  box-sizing: border-box;
  display: grid;
  margin: 0;
  padding: 0;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 1023px) {
  .intro__cards {
    gap: 24px 12px;
    grid-template-columns: repeat(2, 362px);
  }
}

@media screen and (max-width: 767px) {
  .intro__cards {
    grid-template-columns: minmax(30%, 334px);
    gap: 10px;
  }
}

.intro__card {
  border: 1px solid;
  border-color: rgba(50, 50, 50, 0.3);
  list-style: none;
  display: flex;
  flex-direction: column;
  min-height: 276px;
  box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
  .intro__card {
    min-height: 212px;
  }
}

@media screen and (max-width: 767px) {
  .intro__card {
    min-height: 150px;
  }
}

.intro__cardTitle {
  font: 1.8em/1em "WF", sans-serif;
  margin: 0 auto 0;
  max-width: calc(100% - 64px);
  width: 100%;
  padding: 32px 0 0 0;
  color: #323232;
  font-weight: 400;
  overflow-wrap: anywhere;
}

@media screen and (max-width: 1023px) {
  .intro__cardTitle {
    max-width: 306px;
    width: 100%;
    padding-top: 28px;
    line-height: 1.3em;
  }
}

@media screen and (max-width: 767px) {
  .intro__cardTitle {
    max-width: calc(100% - 24px);
    width: 100%;
    margin: 11px auto 0;
    padding: 0;
    font-size: 1.86em;
    line-height: 1.23em;
  }
}

.intro__cardSubtitle {
  font: 1em/1.3em "PT Sans", sans-serif;
  margin: 12px auto 36px;
  max-width: calc(100% - 64px);
  width: 100%;
  color: #323232;
  min-height: 75px;
}

@media screen and (max-width: 1023px) {
  .intro__cardSubtitle {
    max-width: 306px;
    width: 100%;
    min-height: 45px;
    margin: 10px auto 28px;
    font-size: 1em;
  }
}

@media screen and (max-width: 767px) {
  .intro__cardSubtitle {
    max-width: calc(100% - 24px);
    width: 100%;
    min-height: 35px;
    margin: 10px auto 12px;
    font-size: 1em;
    line-height: 1.29em;
  }
}

.intro__linkContainer {
  max-width: calc(100% - 64px);
  width: 100%;
  margin: 0 auto 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .intro__linkContainer {
    max-width: calc(100% - 56px);
  }
}

@media screen and (max-width: 767px) {
  .intro__linkContainer {
    padding-bottom: 15px;
    max-width: calc(100% - 24px);
  }
}

.intro__aboutLink {
  font: 1em/1.3em "PT Sans", sans-serif;
  margin: 0;
  padding: 0;
  color: rgba(50, 50, 50, 0.5);
  align-self: center;
  max-width: 400px;
  width: 70%;
}

@media screen and (max-width: 1023px) {
  .intro__aboutLink {
    max-width: 250px;
  }
}
@media screen and (max-width: 767px) {
  .intro__aboutLink {
    font-size: 0.86em;
    line-height: 1.3em;
  }
}