.button_size-project {
  font-family: 'PT Sans', sans-serif;
}

.button_size-project:hover {
  background-color: #97ba9c;
}

.button_size-project:disabled {
  background: rgba(165, 205, 171, 0.3);
  color: rgba(12, 6, 38, 0.7);
}

.button_size-project:active {
  background-color: #7a9f80;
}
