.menu__item {
  height: 100%;
  padding: 0;
  margin: 0;
  display: inline;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

.menu__item:not(:last-of-type) {
  margin-right: 40px;
}

.menu__item:hover .menu__dropdown {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .menu__item {
    padding: 0;
    height: 18px;
    height: fit-content;
  }

  .menu__item:not(:last-of-type) {
    margin-bottom: 28px;
    margin-right: 0;
  }

  .menu__item:last-of-type {
    margin-bottom: 24px;
  }
}
