.item {
  list-style: none;
  padding: 0;
}

@media screen and (max-width: 1023px) {
  .item {
    height: 280px;
  }
}

@media screen and (max-width: 425px) {
  .item {
    width: 252px;
    height: 352px;
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  aspect-ratio: calc(328 / 526);
  width: 100%;
  max-width: 328px;
  height: 100%;
  max-height: 526px;
  justify-content: space-between;
  flex: 1 0 34.061%;
  box-sizing: border-box;
  cursor: pointer;
  text-align: left;
  color: #F5F5F5;
}
.card_type_experience{
  background-color: var(--bg-orange-light);
}

.card:hover {
  opacity: .8;
}

.img {
  position: absolute;
  z-index: 0;
  max-width: 100%;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  object-fit: cover;
}
.name{
  margin: 0;
  font-family: 'WF', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 100%;
  text-align: center;
  color: var(--black-100);
}


.type {
  margin: 0;
  position: relative;
  padding: 12px 16px 0;
  font-style: italic;
  font-size: 16px;
  line-height: 21px;
}
@media screen and (max-width: 1023px) {
  .type {
    font-size: 12px;
    line-height: 16px;
    padding: 12px 8px 0;
  }
  .name{
    font-size: 18px;
    line-height: 1.22;
  }
}

.text {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 16px 24px 16px;
}
@media screen and (max-width: 1023px) {
  .text {
    padding: 0 8px 12px 8px;
  }
}
@media screen and (max-width: 425px) {
  .text {
    gap: 4px;
    padding-bottom: 25px;
  }
}

.title {
  margin: 0;
  font-family: 'WF', 'Times New Roman', serif;
  font-weight: normal;
  font-style: normal;
  font-size: 26px;
  line-height: 26px;
}
@media screen and (max-width: 1023px) {
  .title {
    font-size: 18px;
    line-height: 22px;
  }
}

.subtitle {
  font-family: 'PT Sans', 'Times New Roman', serif;
  margin: 0;
  font-size: 20px;
  line-height: 26px;
}

@media screen and (max-width: 1023px) {
  .subtitle {
    font-size: 14px;
    line-height: 18px;
  }
}

.quote {
  font-family: 'PT Sans', 'Times New Roman', serif;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
}

  @media screen and (max-width: 1023px) {
    .quote {
      display: none;
    }
    .quote_type_experience{
      display: block;
      font-size: 12px;
      line-height: 16px;
    }
}

@media screen and (max-width: 425px) {
  .quote {
    display: block;
    font-size: 12px;
    line-height: 1.33;
  }
}

.cardExp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  aspect-ratio: calc(328 / 526);
  padding: 32px 15.5px 28px;
  background-color: #E7E4DE;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 328px;
  height: 100%;
  max-height: 526px;
  flex: 1 0 34.061%;
  transition: all 0.6s ease;
  cursor: pointer;
  border-radius: 7px;
}

.cardExp:hover {
  opacity: .8;
}

@media screen and (max-width: 1023px) {
  .cardExp {
    padding: 12px 4px 8px;
  }
}

.content {
  text-align: center;
}

.heading {
  margin: 0 0 20px 0;
  font-family: 'WF', 'Times New Roman', serif;
  font-size: 26px;
  line-height: 26px;
}

@media screen and (max-width: 1023px) {
  .heading {
    margin: 0 0 4px 0;
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width: 767px) {
  .heading {
    font-size: 12px;
    line-height: 14px;
  }
}

@media screen and (max-width: 600px) {
  .heading {
    font-size: 18px;
    line-height: 22px;
  }
}

.description {
  font-family: 'PT Sans', 'Times New Roman', serif;
  margin: 20px 0 0;
  font-size: 14px;
  line-height: 18px;
}
@media screen and (max-width: 1023px) {
  .description {
    margin: 4px 0 0;
    font-size: 12px;
    line-height: 16px;
  }
}
@media screen and (max-width: 767px) {
  .description {
    font-size: 12px;
  }
}

.typeExp {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

@media screen and (max-width: 1023px) {
  .typeExp {
    font-size: 12px;
    line-height: 15.53px;
  }
}

@media screen and (max-width: 767px) {
  .typeExp {
    font-size: 12px;
    padding-bottom: 8px;
  }
}

.imgExp {
  margin: 0;
  border-radius: 50%;
  max-width: 204px;
  max-height: 204px;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .imgExp {
    max-width: 86px;
    max-height: 86px;
  }
}
@media screen and (max-width: 425px) {
  .imgExp {
    max-width: 204px;
    max-height: 204px;
  }
}
