.slider__items {
  display: flex;
  transition: transform 0.5s ease;
  position: relative;
  z-index: 1;
  font-family: 'PT Sans', sans-serif;
}

@media screen and (max-width: 767px) {
  .slider__items {
    flex-direction: column;
    max-height: 770px;
    min-height: 352px;
    transition: transform 1.5s ease;
  }
  .journal-projito .slider__items {
    flex-direction: row;
    overflow: visible;
  }
}
