.card__text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 100%;
  max-width: 296px;
  height: 100%;
  max-height: 68px;
  margin: 0;
  padding: 0;
  font: normal 0.8em/1.31 'PT Sans', sans-serif;
  text-align: center;
  color: rgb(50, 50, 50);
}

@media screen and (max-width: 1023px) {
  .card__text {
    max-width: 213px;
    font-size: 1em;
    line-height: 1.28;
  }
}

@media screen and (max-width: 767px) {
  .card__text {
    max-width: 252px;
    font-size: 0.85em;
    line-height: 1.33;
  }
}
