.button_size-intro {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  text-decoration: none;
}

@media screen and (max-width: 1023px) {
  .button_size-intro {
    width: 32px;
    height: 32px;
    border-radius: 16px;
  }
}

@media screen and (max-width: 767px) {
  .button_size-intro {
    width: 50px;
    height: 50px;
    border-radius: 25px;
  }
}

.button_size-intro:not([disabled]):hover {
  background-color: #97ba9c;
}

.button_size-intro:disabled {
  opacity: 0.5;
}

.button_size-intro:active {
  background-color: #7a9f80;
}
