.item__title {
  color: #323232;
  grid-area: title;
  font-weight: 400;
  font-size: 1em;
  margin: 0;
  padding: 20px 0 0;
  line-height: 1.3em;
  align-self: stretch;
}

@media screen and (max-width: 1023px) {
  .item__title {
    padding-top: 8px;
  }
}

@media screen and (max-width: 767px) {
  .item__title {
    padding: 0;
  }
}
