.header {
  min-width: 320px;
  position: relative;
  background-color: #f7f4f0;
  font: 1em/1.26 "PT sans", sans-serif;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .header {
    position: sticky;
    top: 0;
  }
}
